/* .contacts-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
} */

.contacts-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0.7rem;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center,
}

.scrollable-content {
    margin-bottom: 20vh;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 10px);
    /* rest of your styles */
}