.contactPageReviewCategoriesContainer {
    display: flex;
    align-items: center;
    position: fixed;
    overflow-x: auto;
    /* changed to auto for better appearance when not overflowing */
    overflow-y: hidden;
    white-space: nowrap;
    width: 98%;
    bottom: 110px;
    height: 40px;
    padding: 5px;
    /* Optional padding for better appearance */
}

.contactPageReviewCategoriesSpace {
    margin-right: 50px;
    display: inline-flex;
    /* This will allow horizontal layout */
    flex-wrap: nowrap;
    /* Prevents wrapping */
    height: 100%;
    /* Match the height of the container */
    align-items: center;
    /* Align tags vertically */
}