.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #333;
    margin-top: 2rem;
    /* Adjust the font color to match your theme */
}

.links a {
    color: blue;
    /* Your brand's link color */
    margin: 0.5rem;
    text-decoration: underline;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.avatar {
    margin: auto;
}

.details {
    width: 100%;
}

.logout-button {
    margin-top: 1rem;
    background-color: #ff4d4f;
    /* Red for logout, but choose what fits your design */
    color: white;
    border: none;
}